[Unit]
Description=wg helper
After=network-online.target vwait.service
Wants=network-online.target vwait.service

[Service]
Type=idle
ExecStart=/usr/bin/wg-helper

[Install]
WantedBy=network-online.target
